hr {
  border: 1px solid #3e3a3a;
  margin: 30px;
}
.container .footer {
  width: 85%;
  margin: auto;
}
.container .footer .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .footer .content div {
  width: 33.33%;
  flex-basis: 33.33%;
}
.container .footer .content div ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.container .footer .content div ul li {
  margin-bottom: 10px;
}
.container .footer .content div ul li:last-of-type {
  margin-bottom: 0;
}
.container .footer .content div ul li h3 {
  font-size: 30px;
  font-weight: 700;
}
.container .footer .content div ul li a {
  color: #f9f9ff;
}
/* Start Media Query */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container .footer {
    width: 95%;
    margin: auto;
  }
  .container .footer .content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container .footer .content div {
    width: 100%;
    flex-basis: 100%;
  }
  .container .footer .content div ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .container .footer {
    width: 100%;
    margin: auto;
  }
  .container .footer .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .container .footer .content div {
    width: 100%;
    flex-basis: 100%;
  }
  .container .footer .content div ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container .footer {
    width: 95%;
    margin: auto;
  }
  .container .footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container .footer .content div {
    width: 33.33%;
    flex-basis: 33.33%;
  }
  .container .footer .content div ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container .footer {
    width: 90%;
    margin: auto;
  }
  .container .footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container .footer .content div {
    width: 33.33%;
    flex-basis: 33.33%;
  }
  .container .footer .content div ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container .footer {
    width: 85%;
    margin: auto;
  }
  .container .footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .container .footer .content div {
    width: 33.33%;
    flex-basis: 33.33%;
  }
  .container .footer .content div ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
